# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:
# out put file and create DF and Drop unamed columns
output_data_file = "weather_df.csv"
weather_df = pd.read_csv(output_data_file, index_col=0)
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,Ushuaia,-54.8000,-68.3000,44.60,70,40,34.52,AR,1618590338
1,Nioro,13.3500,-15.7500,104.59,10,50,6.73,GM,1618590608
2,Albany,42.6001,-73.9662,42.01,76,100,1.01,US,1618590331
3,Kirovskiy,45.0917,133.5136,42.64,88,93,5.91,RU,1618590609
4,Leeuwarden,53.2014,5.8086,50.00,61,7,13.80,NL,1618590609
...,...,...,...,...,...,...,...,...,...
549,Coyhaique,-45.5752,-72.0662,59.00,47,40,10.36,CL,1618590766
550,Mbandaka,0.0487,18.2603,76.78,84,100,4.97,CD,1618590766
551,Kupang,-10.1667,123.5833,76.21,88,83,6.93,ID,1618590766
552,Moroni,-11.7022,43.2551,82.40,78,40,13.80,KM,1618590767
553,Staryy Nadym,65.6118,72.6842,21.87,88,100,22.17,RU,1618590767

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
gmaps.configure(api_key = g_key)

In [21]:
# use Lat and lng and Humidty as weight
loc = weather_df[["Lat","Lng"]]
# couldnt get to work without float
hum = weather_df["Humidity"].astype(float)

In [25]:
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(loc,weights = hum,dissipating=False,max_intensity = 5)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [29]:
# A max temperature lower than 80 degrees but higher than 70. - check
# Wind speed less than 10 mph. -- done
# Zero cloudiness. -  done
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal.
# Note: Feel free to adjust to your specifications but be sure to limit 
# the number of rows returned by your API requests to a reasonable number.
# what is reasonable?

weather_condition_df = pd.DataFrame(weather_df, columns=["City","Max Temp","Wind Speed","Cloudiness"])
max_temp = (weather_condition_df["Max Temp"]< 80)&(weather_condition_df["Max Temp"]>=70)
wind_spd=weather_condition_df["Wind Speed"] < 10
clouds=weather_condition_df["Cloudiness"] == 0
#create with 3 conditions - had to add & commas cause error
weather_condition_df[max_temp&wind_spd&clouds]

                   City  Max Temp  Wind Speed  Cloudiness
City ID
79       Saint-Philippe     78.80        3.44           0
107        Saint-Joseph     78.80        3.44           0
161        Pueblo Nuevo     74.88        7.36           0
295            Vallenar     78.42        6.80           0
419        Saint-Pierre     78.80        3.44           0
497          Kiryat Gat     73.00        1.01           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,Ushuaia,-54.8000,-68.3000,44.60,70,40,34.52,AR,1618590338
1,Nioro,13.3500,-15.7500,104.59,10,50,6.73,GM,1618590608
2,Albany,42.6001,-73.9662,42.01,76,100,1.01,US,1618590331
3,Kirovskiy,45.0917,133.5136,42.64,88,93,5.91,RU,1618590609
4,Leeuwarden,53.2014,5.8086,50.00,61,7,13.80,NL,1618590609

In [32]:
hotel_df = pd.DataFrame(weather_df, columns =["City","Lat","Lng","Country"])
hotel_df["Hotel Name"] = " "
hotel_df.head()

               City      Lat       Lng Country Hotel Name
City ID
0           Ushuaia -54.8000  -68.3000      AR
1             Nioro  13.3500  -15.7500      GM
2            Albany  42.6001  -73.9662      US
3         Kirovskiy  45.0917  133.5136      RU
4        Leeuwarden  53.2014    5.8086      NL

In [34]:
#coords list
coords = []
# Cities DF
target_city = hotel_df["City"]
#target_city
types = "hotel"
#had to add  Cords for saving
Hotel_df["Coordinates"] = hotel_df["Lat"]+","+hotel_df["Lng"]
radius = 5000
params ={
    "Location:" : Coords,
    "types:" : types,
    "radius" : radius,
    "key" : g_key
    }
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

print("Hotels with 5000 meters.")

response = request.get(url,params)
print(json.dumps(hotel_distance, indent=4,sort_keys=True))

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')

In [ ]:
`# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig